

{{#if isAdmin}}
    <div id="block-banner" style="display: block;">
      <div class=".banner-content"></div>
    </div>
{{/if}}
<form id="formConfigAccount" action="" class="formConfigAccount">
        <h2 class="title">Sign Up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input id="userName-config" type="text" placeholder="New User name" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            id="password_config-1"
            type="password"
            placeholder="New Password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            title="Contraseña inválida. Debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula, un número y un caracter especial."
            
          />
        </div>

        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            id="password_config-2"
            type="password"
            placeholder="New Password repeat"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            title="Contraseña inválida. Debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula, un número y un caracter especial."
            
          />
        </div>
        <input
          id="sign-up"
          type="submit"
          value="Update"
          class="btn-register solid"
          
        />

        <p id="message-config"></p>
</form>
<script>
  const isAdminValid = {{{isAdmin}}}
  if (isAdminValid) {
    window.onload = function() {
       alert("Esto es una cuenta por defecto, su configuración no puede ser cambiada");
    };
  } else {
window.onload = function() {
    alert("Al cambiar la configuracion de su cuenta se cerrara session en la misma.");
  };

  }

  const formConfigAccount = document.getElementById("formConfigAccount");
    formConfigAccount.addEventListener("submit", async (e) => {
  e.preventDefault();

  const username = document.getElementById("userName-config").value.trim();
  const password = document.getElementById("password_config-1").value.trim();
  const password2 = document.getElementById("password_config-2").value.trim();
  const updateMessage = document.getElementById("message-config");

  if (!username && !password && !password2) {
    updateMessage.innerText = "Intente ingresar algun campo para que pueda ser modificado.";
    setTimeout(() => {
      updateMessage.innerText = "";
    }, 2000);
    return;
  }

  if (password !== password2) {
    updateMessage.innerText = "New password match";
    setTimeout(() => {
      updateMessage.innerText = "";
    }, 2000);

    return 
  }

  fetch("user/config/update", {
    method: "post",
    headers: {
      "Content-Type": "application/json",
    },
  body: JSON.stringify({username, password, isAdminValid }),
  })
    .then(async (res) => {
      if (!res.ok) {
        updateMessage.innerHTML = await res.text();
        setTimeout(() => {
          updateMessage.innerHTML = "";
        }, 2000);
      } else {
        updateMessage.innerHTML = await res.text();
        setTimeout(() => {
          const logoutButton = document.querySelector(".btn-logout");
          logoutButton.click();
          updateMessage.innerHTML = "";
        }, 2000);  
      }
    })
    .catch((error) => console.log(error));
});
</script>
