<div class="error-container">
  <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjVxd2toYzE4ZTd6Nmpya2dkNzh3NGIwNG52a2V4bW1nN3UyanFheSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lqFHf5fYMSuKcSOJph/giphy.gif" alt="">
  <p>La ruta que estas buscando no existe</p>
  <a href="/user/adminpanel"><button class="btn solid">Inicio</button></a>
</div>
