<div class="panel-btns">
  <button class="btn-register solid" id="ruta-btn">Ruta</button>
  <button class="btn-register solid" id="cajero-btn"><a href="/user/shop">Caja</a></button>
  <button class="btn-register solid" id="vencimiento-btn">Vencimiento</button>
</div>

