<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú de Usuario</title>
  </head>
  <body>
      <h2>¿Qué es Eudy-Market?</h2>
      <p>
        <strong>Eudy-Market</strong>
        es una plataforma de gestión para supermercados que permite administrar
        productos, ventas, inventario y clientes de manera eficiente y sencilla.
      </p>
      <ul>
        <li>Registrar y controlar productos en tiempo real.</li>
        <li>Gestionar ventas y generar reportes automáticos.</li>
        <li>Supervisar el inventario para evitar faltantes o excesos.</li>
        <li>Mejorar la atención al cliente con un sistema ágil y moderno.</li>
      </ul>
      <p>¡Optimiza la operación de tu supermercado con Eudy-Market!</p>
    </div>

  </body>
</html>
