<div class="success-checkmark">
  <div class="check-icon">
    <span class="icon-line line-tip"></span>
    <span class="icon-line line-long"></span>
    <div class="icon-circle"></div>
    <div class="icon-fix"></div>
  </div>

  <script>
    setInterval(function(){ window.close(); }, 3000);
  </script>
  
  <h4>¡Gracias por tu compra!</h2>
</div>
